#inputTable {
  background-color: rgb(46, 64, 106);
  table-layout: fixed;
  padding-bottom: 1vh;
}

#additionalInfo {
  background-color: rgb(46, 64, 106);
}

th {
  width: 5vw;
  border: 0.1vw solid white;
}

td {
  text-align: center;
  margin: 0 auto;
}

input {
  width: 3vw;
  margin: 0 auto;
}

#mode_bar {
  margin-top: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1vw;
  text-align: right;
}

.mode_button {
  color: white;
  font-size: 3vh;
  border: none;
  background-color: rgb(46, 64, 106);
}

.mode_button_selected {
  color: orange;
  font-size: 3vh;
  border: none;
  background-color: rgb(46, 64, 106);
}

#footer_bar {
  margin-top: 1vh;
}

#simulate {
  color: white;
  font-size: 3vh;
  border: none;
  background-color: rgb(46, 64, 106);
}
