#headerBar {
    background: transparent;
    position: absolute;
    z-index: 200;
}

#backgroundContainer {
    position: absolute;
    z-index: 1;
}

#backgroundImage {
    opacity: 15%;
    filter: grayscale(100%);
    width: 100vw;
}

#fullHead {
    position: relative;
    height: 88vh;
    padding-bottom: 6vh;
}

#landing {
    top: 0;
    z-index: -1;
    position: static;
    background: linear-gradient(145deg, rgba(46,64,106,1) 0%, rgba(13,28,65,1) 100%);
    width: 100vw;
    height: 84vh;
}

#introText {
    z-index: 2;
    position: relative;
    text-align: center;
}

#introMainText {
    margin:0;
    padding-top: 24vh;
    font-size: 14vh;
}

#introSecondaryText{
    margin:0;
    font-size: 4vh;
}

#introSummaryText {
    width: 60%;
    padding-top: 10vh;
    margin:0 auto;
    font-size: 1.6vh;
}

#calculator {
    top: 0;
    height: 92vh;
    display:flex;
    position:relative;
    z-index: 5;
}

.data_field {
    color: rgb(46,64,106);
    border: .2vw solid rgb(46,64,106);
    border-radius: 4vh;
    box-sizing: border-box;
}

.devHeader {
    color: rgb(46,64,106);
    letter-spacing: .3vw;
    font-size: 7vh;
    width: fit-content;
    padding: 0 .6vh;
    text-align: center;
    margin: -3.5vh auto 0;
}

#taxBox {
    margin-left: 2vw;
    margin-right: 1vw;
    width: 50%;
}

#goodsBox {
    margin-right: 2vw;
    margin-left: 1vw;
    width: 50%;
}

.modifierGroup {
    z-index: 200;
    margin-bottom: 1vh;
}

.modifierBox {
    padding-top: 1.6vh;
    margin:0 2vw;
    height: 70.5vh;
}

.modifierName {
    font-size: 2.6vh;
    font-weight: bold;
    margin-bottom: 0;
}

.modifierDescription {
    font-size: 1.6vh;
    margin: 0.4vh 0;
}

.update {
    font-size: 3.4vh;
    display:block;
    margin: 0 auto;
    border-radius: 2vh;
    outline-width: 0;
    background-color: rgb(46,64,106);
    color: white;
    border:none; 
    bottom: 14%;
    position:absolute;
    z-index: 5;
}

.left {
    left: 22.5%;
}

.right {
    right: 22.5%;
}

.summary {
    margin-top: 2vh;
    color: rgb(46,64,106);
    text-align: center;
    font-size: 2.2vh;
}

.textSummary {
    margin:auto;
    width: 50%;
}

#taxSummary {
    margin: .2vh auto;
    color: #fcdb77;
}

#goodsSummary {
    margin: .2vh auto;
    color: #fcdb77;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputField {
    outline-width: 0;
    height: 1.8vh;
    border: .3vh solid rgb(46,64,106);
    border-radius: 2vh;
}

.finalUnit {
    margin-top: 0;
}