#mainBox {
    background-color: white;
    box-sizing: border-box;
    display:flex;
    margin: 3em;
    width: auto;
    height: auto;
    
}

.splitBox {
    background-color: khaki;
    width: 45%;
    height: auto;
    display: block;
    box-sizing: border-box;
    margin: 1em auto;
}

.description {
    margin-bottom: .1em;
}