body {
    background-color: rgb(46,64,106);
    background: linear-gradient(145deg, rgba(46,64,106,1) 0%, rgba(13,28,65,1) 100%);
    height: 100%;
    margin:0;
}

#landingIMG{
    opacity: 30%;
    filter: grayscale(100%);
    width: 100vw;
    height: 99.5vh;
}

#textContainer {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

#EU4Text {
    margin: 0;
    margin-top: 32vh;
    vertical-align: middle;
    font-size: 12vh;
    color: white;
    text-align: center;
    letter-spacing: 1.8vh;
}

#MultiplayerGuide {
    margin: 0;
    margin-top: .8vh;
    vertical-align: middle;
    font-size: 6.8vh;
    color: white;
    text-align: center;
    font-style: italic;
    letter-spacing: 1vh;
}

#LandingSelections {
    display: flex;
    margin-top: 8vh;
    justify-content: center;
}

.selectionText {
    letter-spacing: .4vh;
    border: .4vh solid white;
    border-radius: 10vh;
    font-size: 2.5vh;
    width: 14vw;
    padding: 1vh;
    margin: 0 2vw;
    color: white;
    text-align: center;
}

.disabled {
    text-decoration: line-through;
}