#main_logo {
    color: #fca311;
    text-decoration: none;
    display: inline-block;
    margin-right: 1em;
}

.general_topics {
    color: #ffcdb2;
    text-decoration: none;
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
}

#logo_text {
    margin: auto;
}