body {
    background-color: #14213d;
    font-family: Arial, Helvetica, sans-serif;
}

#mainBox {
    display: flex;
    box-sizing: border-box;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
}

#table {
    vertical-align: top;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flexbox;
    box-sizing: border-box;
    width: 40%;
}

#info {
    vertical-align: top;
    width: 40%;
    display: flexbox;
    box-sizing: border-box;
    margin-top: 2em;
    margin-left: 4em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #1d3557;
}

.geninfo {
    margin: 0;
}

.rating {
    font-size: 4em;
    margin-bottom: .3em;
}

#s-tier {
    color: #d62828;
    margin-top: 0em;
    padding-bottom: 0;
}

#a-tier {
    color: #f4a261;
}

#a_country .name{
    color: #f4a261;
}

.flag {
    padding-top: 0;
    height: 6em;
    width: 6em;
    border-radius: 50% 50% 50% 50% / 27% 27% 73% 73%;
    object-fit: cover scale-down;
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 1em;
    border: .2em solid black;
    transition: .5s;
    filter: grayscale(50%);
}

.active {
    border: .2em solid cyan;
}

.inactive {
    filter: grayscale(100%);
    border: .2em solid red;
}

.active:hover {
    height: 6.5em;
    width: 6.5em;
    border-color: goldenrod;
    filter: grayscale(0%);
}


.name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .2em;
    margin-right: .2em;
    font-size: 2em;
    text-align: center;
    transition: .5s;
}

.selection {
    text-decoration: none;
}

.country {
    display: inline-block;
}

#infoname {
    font-size: 3em;
    margin-top: .5em;
    text-align: center;
}

.infosection {
    display:flex;
}

#flavor_text {
    text-align: center;
    color: white;
    font-size: 1.4em;
    margin: .3em;
}

#modifiers {
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: .5em;
}

.tempbox {
    display: inline-block;
    padding-bottom: 1em;
}

#infoname {
    margin: 0;
}

#allies {
    display: inline-block;
    width: 50%;
}

#enemies {
    display: inline-block;
    width: 50%;
}

.relationtext {
    text-align: center;
    color: #f4a261;
}

.relatedflag {
    padding-top: 0;
    height: 3em;
    width: 3em;
    border-radius: 50% 50% 50% 50% / 27% 27% 73% 73%;
    object-fit: cover scale-down;
    margin-top: 0em;
    margin-right: 1em;
    margin-left: 1em;
    border: .2em solid black;
    transition: .5s;
}

.relatedname {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .2em;
    margin-right: .2em;
    font-size: 1em;
    text-align: center;
    transition: .5s;
    color: #f4a261;
}

.info_seperators {
    background-color: #03071e;
    border: .1em solid #a8dadc;
} 

.trait {
    border: .1em solid #a8dadc;
    padding-bottom: .5em;
}

.trait_name {
    margin-top: .5em;
    margin-bottom: 0;
}

.good {
    color: #2a9d8f;
}

.trait_description {
    color: goldenrod;
    margin: 0;
    margin-left: 1em;
}

.France {
    color: #318CE7;
}

.Russia {
    color: #679267;
}

.England {
    color: #ab4b52;
}

.Ottomans {
    color: #ee2222;
}

.Castille {
    color: #f0ead4;
}